@font-face {
  font-family: 'GmarketSansBold';
  src: local('GmarketSansBold'), url('./assets/GmarketSansTTFBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: local('GmarketSansMedium'), url('./assets/GmarketSansTTFMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: local('GmarketSansLight'), url('./assets/GmarketSansTTFLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'GmarketSansBold', sans-serif;
}
