@font-face {
  font-family: 'GmarketSansBold';
  src: local('GmarketSansBold'), url('./assets/GmarketSansTTFBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: local('GmarketSansMedium'), url('./assets/GmarketSansTTFMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: local('GmarketSansLight'), url('./assets/GmarketSansTTFLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url(./assets/background_pc.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'GmarketSansBold', sans-serif;
  height: 6813px;
  margin: 0;
  overflow: auto;
}
